.u-section-1 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-1 .u-text-1 {
  margin: 1px auto 0 -1px;
}

.u-section-1 .u-text-2 {
  margin: 15px -65px 0 20px;
}

.u-section-1 .u-text-3 {
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 21px 0;
}

.u-section-1 .u-text-5 {
  margin: 15px 1004px 0 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  margin: 15px 21px 0;
}

.u-section-1 .u-text-7 {
  margin: -17px auto 60px 123px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 42px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 804px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 584px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 404px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1633px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 204px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 51px;
    margin-left: 77px;
  }
}