.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  width: 418px;
  height: 300px;
  margin: 50px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 30px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 244px;
  }
}